header .inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}
header.active .mobile-left-menu {
  -webkit-transform: translateX(316px);
  -ms-transform: translateX(316px);
  transform: translateX(316px);
}
header.active .bg-dimmed {
  display: block;
}

.logo .btn-logo {
  display: block;
}

.gnb {
  margin-left: 20px;
}
.gnb li {
  display: inline-block;
  margin: 0 15px;
}

.search-form {
  margin-left: auto;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
.search-form .search-input {
}

.user-menu-login {
  /* display: none; */
  margin-left: auto;
}
.user-menu-login a {
  display: inline-block;
  margin: 0 10px;
}

.user-menu-logout {
  display: none;
  margin-left: auto;
}
.user-menu-logout a {
  display: inline-block;
  margin: 0 10px;
}
.bg-dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}
.mobile-menu {
  margin-right: 20px;
}
.mobile-menu .btn-menu {
  font-size: 23px;
}
.mobile-left-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  height: 100%;
  flex-direction: column;
  left: -316px;
  width: 316px;
  transition: transform 0.3s ease;
  background-color: #fff;
}
.mobile-left-menu ul {
  padding: 50px;
}
.mobile-left-menu ul li + li {
  margin-top: 20px;
}
