.visual-area {
  padding: 50px 0;
}
.visual-area .swiper-slide > div {
  height: 300px;
  text-align: center;
  box-sizing: border-box;
}
.visual-area .swiper-button-prev,
.visual-area .swiper-button-next {
  top: 30%;
}
.visual-area .swiper-slide > div .tit {
  margin-top: 10px;
}
.visual-area .slide-img {
  height: 180px;
  background-size: auto 100%;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
